<div class="container py-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2 class="h4 m-0">Materias</h2>
    <a class="btn btn-primary" [routerLink]="['/materia/crear']">
      <i class="bi bi-plus"></i> Nueva
    </a>
  </div>

  <div class="card shadow-sm">
    <div class="card-body">
      <form class="row g-2 mb-3" (submit)="$event.preventDefault(); cargar();">
        <div class="col-sm-6 col-md-4">
          <input class="form-control" [(ngModel)]="search" name="search" placeholder="Buscar por nombre o código...">
        </div>
        <div class="col-auto">
          <button class="btn btn-outline-primary" (click)="cargar()">Buscar</button>
        </div>
      </form>

      <div *ngIf="loading" class="text-center py-4">
        <div class="spinner-border text-primary" role="status"></div>
        <div class="small text-muted mt-2">Cargando...</div>
      </div>

      <div class="table-responsive" *ngIf="!loading">
        <table class="table table-bordered table-hover align-middle">
          <thead class="table-light">
            <tr>
              <th style="width:140px;">Código</th>
              <th>Nombre</th>
              <th>Área</th>
              <th style="width:180px;"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let m of list">
              <td class="fw-semibold">{{ m.codigo }}</td>
              <td>{{ m.nombre }}</td>
              <td>{{ m.area }}</td>
               <td class="text-center">
                <button
                  class="btn btn-primary btn-sm me-2"
                  [routerLink]="['/materia/editar', m._id]"
                >
                  <i class="bi bi-pencil"></i>
                </button>
                <button
                  class="btn btn-danger btn-sm"
                  (click)="confirmarEliminar(m)"
                >
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
            <tr *ngIf="!list?.length">
              <td colspan="4" class="text-center text-muted">Sin datos</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

