<div class="wrap">
  <h2>Años lectivos</h2>
  <table *ngIf="list?.length; else empty">
    <thead>
      <tr>
        <th>Clave</th>
        <th>Nombre</th>
        <th>Activo</th>
        <th>Trimestres</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let a of list">
        <td>{{ a.clave }}</td>
        <td>{{ a.nombre }}</td>
        <td>{{ a.activo ? "Sí" : "No" }}</td>
        <td>
          <ng-container *ngFor="let t of a.trimestres; let last = last">
            {{ t.numero }}. {{ t.nombre }}<span *ngIf="!last"> | </span>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <ng-template #empty><p>No hay datos</p></ng-template>
</div>
